<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308911930289-jb89fqg4rd0vmnqle2ivv13u0qrbchq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308911930289-jb89fqg4rd0vmnqle2ivv13u0qrbchq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBl42iUrruAjWEbncY3S5he9R-Kb7lCm0g</string>
	<key>GCM_SENDER_ID</key>
	<string>308911930289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.lemonCashChallenge</string>
	<key>PROJECT_ID</key>
	<string>lemon-cash-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>lemon-cash-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308911930289:ios:e3db628b19525df5c15b90</string>
</dict>
</plist>